.blog-wrapper {
    padding: 50px 500px;
    background-color: black;
    display:none;
}

p {
    color: lime;
}

@media screen and (max-width: 700px) {
    .blog-wrapper {
        padding: 50px 50px;
    }

    .blog-wrapper p span {
        text-align: left;
    }
}