#cvWrapper {
    display: none;
    padding: 70px 600px;
    background-color: Black;
    color: white;
}

#downloadCV {
    text-align: center;
}

#learningWrapper {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

#cvWrapper P {color: white;}

span {color: white}

@media screen and (max-width: 1700px) {
    #cvWrapper {
        padding: 70px 400px;
        background-color: Black;
        color: white;
    }
}

@media screen and (max-width: 1400px) {
    #cvWrapper {
        padding: 70px 200px;
        background-color: Black;
        color: white;
    }
}

@media screen and (max-width: 900px) {
    #cvWrapper {
        padding: 70px 150px;
        background-color: Black;
        color: white;
    }
}

@media screen and (max-width: 700px) {
    #cvWrapper {
        padding: 70px 10%;
        background-color: Black;
        color: white;
    }

    .main-body {
        padding: 0;
    }
}