
  .menu-link {
    height: 100%;
    text-decoration: none;
  }

  .menu-list {
    padding:0;
    margin:0;
    height: 100%;
    list-style-type: none;
  }
  
  .menu-item {
    width: 110px;
    height: 100%;
    color:white;
    display: inline-block;

    text-decoration: none;
  }

  .menu-item:hover {
    background-color: #2F2855;
  }


  .head-wrapper {
    
    height:70px;
    text-align: center;
    animation: slideDown 1s;
  }
  
  .head-navbar {
    width: 100%;
    height:100%;
  }

  @keyframes slideDown {
      0% {transform: translateY(-70px);}
      100% {transform: translateY(0);}
  }
  
  nav {
    height:100%;
  }
    
  .canvas-logo {
    margin-left: 10px;
    margin-right: 10px;
    width:80px;
    height:auto;
    float: left;
  }