#introduction_wrapper {
    width: 100%;
    height:100%;

}

#introduction {
    height: 100%;
    display: flex;
    align-items: center;
}

#left_section {
    width: 50%;
    display: inline-block;
}

#left_section * {
    float: left;
}

#right_section {
    width: 50%;
    display: inline-block;
}

#right_section #about_me {
    float: right;
    
}

#right_section #about_me * {
    text-align: right;
}

ul {
    list-style-type: none;
}


#title_wrapper h1 {
    font-weight: 900;
}

#profileImg {
    width:200px;
    height: auto;
    border-radius: 50%;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

ul {
    margin: 0;
    padding:0;
}

#can {
    position: fixed;
    z-index: 10;
    width:100%;
    height:100%;
    top: 0;
    left:0;
}

@media screen and (max-width: 1300px) {
    #profileImg {
        width:150px;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    #profileImg {
        width:130px;
        height: auto;
    }


    #right_section #about_me div p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    #profileImg {
        width:100px;
        height: auto;
    }


    #right_section #about_me div p {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    #profileImg {
        width:100px;
        height: auto;
    }


    #right_section #about_me div p {
        font-size: 12px;
    }
}