#introduction_wrapper {
    width: 100%;
    height: 100%;
}

#introduction {
    width:100%;
    height:100%;
    display: flex;
    background-image: url("../images/spinnaker_edge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -200px;
    background-attachment: fixed;
}

#about_me_wrapper {
    width: 50%;
    height: 100%;
}

#title_wrapper {
    text-align: left;
    padding: 200px 0 0 200px;
    color: lightgreen;
}

#skill_list_wrapper {
    padding: 0 200px;
    color: lightgreen;
    list-style-type: none;
}
    
#skill_list_wrapper ul {
    text-align: left;
}

#update_wrapper {
    color: lightgreen;
    width: 50%;
    height: 100%;
}

#update {
    padding: 200px 0 200px 0;
}


@keyframes fadeToRight {
  0% { opacity: 0; transform: translateX(-20%);}
  100% { opacity: 1; transform: translateX(0%);}
}

@keyframes fadeToLeft {
  0% { opacity: 0; transform: translateX(20%);}
  100% { opacity: 1; transform: translateX(0%);}
}

@media screen and (max-width: 1400px) {
    #title_wrapper {
        padding: 100px;
        color: lightgreen;
    }

    #skill_list_wrapper {
        padding: 0 100px;
        color: lightgreen;
        list-style-type: none;
    }
    
    #skill_list_wrapper ul {
        text-align: left;
    }
}

@media screen and (max-width: 1400px) {
    #title_wrapper {
        padding: 100px 100px 0 100px;
        color: lightgreen;
        font-size: 16px;
    }

    #skill_list_wrapper {
        padding: 0 100px;
        color: lightgreen;
        list-style-type: none;
    }
    
    #skill_list_wrapper ul {
        text-align: left;
    }
}

@media screen and (max-width: 1100px) {
    #introduction {
        background-image: url("../images/spinnaker_neon.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 1000px) {
    #title_wrapper {
        padding: 100px 100px 0 100px;
        color: lightgreen;
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    #title_wrapper {
        padding: 100px 100px 0 50px;
        color: lightgreen;
        font-size: 10px;
    }

    #skill_list_wrapper {
        padding: 0 50px;
        color: lightgreen;
        list-style-type: none;
    }
}

@media screen and (max-width: 600px) {
    #introduction {
        background-image: url("../images/spinnaker_neon.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

        #title_wrapper {
        padding: 100px 100px 0 10px;
        color: lightgreen;
        font-size: 10px;
    }

    #skill_list_wrapper {
        padding: 0 10px;
        color: lightgreen;
        list-style-type: none;
    }
}

@media screen and (max-width: 600px) {
    #introduction {
        background-image: url("../images/spinnaker_neon.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    #about_me_wrapper {
        width:60%;
    }

    #title_wrapper {
        padding: 50px 0 0 10px;
        color: lightgreen;
    }

    #title_wrapper h1 {
        font-size:16px;
    }

    #skill_list_wrapper {
        font-size: 14px;
        padding: 0 10px;
        color: lightgreen;
        list-style-type: none;
    }

    #update {
        padding: 50px 0 0 10px;
    }

    #update_wrapper #update h2 {
        font-size:16px;
    }
}

@media screen and (max-height: 500px) {
    #introduction {
        background-image: url("../images/spinnaker_neon.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -140px;
        background-attachment: fixed;
    }

    #title_wrapper {
        padding: 100px 0 0 100px;
        color: lightgreen;
        font-size: 10px;
    }

    #skill_list_wrapper {
        font-size: 14px;
        padding: 0 100px;
        color: lightgreen;
        list-style-type: none;
    }
}