#learningWrapper {
    text-align: center;
}

.circle {
    display: inline-block;
    padding:0 10px;
    width: 10px;
}

.circle-small {
    width: 10px;
    animation: shrink 1s;
}

.circle-big {
    width: 20px;
    animation: expand 1s;
}

@keyframes expand {
    0% {width: 10px;}
    100% {width: 20px;}
}

@keyframes shrink {
    0% {width: 20px;}
    100% {width: 10px;}
}