#productsWrapper {
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

#productsWrapper div div h1 {
    padding: 0;
    font-size: 30px;
    margin:50px 0 0 0;
}

.product {
    display: inline-block;
    width:500px;
    vertical-align: top;
}

.productImg {
    width:270px;
    height: auto;
}

.productCaptionWrapper {
    text-align: justify;
    padding: 0 100px;
}

@media screen and (max-width: 600px) {
    #productsWrapper h1 {
        font-size: 40px;
    }

    .productTitleWrapper h2 {
        font-size:24px;
    }

    .product {
        display: inline-block;
        width:300px;
    }

    .productImg {
        width:200px;
        height: auto;
    }

    .productCaptionWrapper {
        padding:0 50px;
    }
}

@media screen and (max-height: 600px) {

    .product {
        width:300px;
    }

    .product h2 {
        font-size: 30px;
    }

    .productImg {
        width:250px;
        height: auto;
    }

    .productCaptionWrapper {
        padding: 0 25px;
        font-size: 16px;
    }
}