#profile_wrapper {
    height:100%;
}

#profile-picture {
    width: 300px;
    height: auto;
}


@media screen and (max-width: 800px) {
    #githubChartWrapper {
        display: none;
        align-items: center;
    }

    .githubChart {
        width: 100px;
    }

    #profile-picture {
        width: 200px;
        height: auto;
    }    
}